:root {
  --jumbotron-color: linear-gradient(5deg, purple, #689b9c, #CCFFFF, #e7919a, purple);
  --jumbotron-border: #708050;
  --insult-box-color: linear-gradient(185deg, purple, #689b9c, #CCFFFF, #e7919a, purple);
  --background-img: url("images/lightpinkcats.jpg");
}

body {
  background-image: var(--background-img);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.cat-animation {
  position: relative;
  top: 0px;
  float: right;
  width: 90px;
  height: auto;
}

.jumbotron {
  background: var(--jumbotron-color);
  font-family: 'Chilanka', cursive;
  font-weight: bold;
  margin-top: 30px;
}

#jumbotronText {
  text-align: center;
}

/* will change to match image id given via jQuery */
#imgTest {
  width: 100%;
  height: auto;
}

#btns {
  padding: 20px;
  background: var(--insult-box-color);
  margin-bottom: 30px;
  text-align: center;
  border: solid, 3px;
}

#insultContainer{
  display: inline-block;
  text-align: center;
  font-family: 'Chilanka', cursive;
  font-size: 1.5em;
  
}

#btns .fa-play-circle{
  color: black;
  font-size: 30px;
  position: relative;
}

.generate {
  margin-right: 15px;
}