:root {
    --jumbotron-color: linear-gradient(35deg, #689b9c, #CCFFFF, #e7919a);
    --jumbotron-border: #708050;
    --insult-box-color: linear-gradient(35deg, purple, #689b9c, #CCFFFF, #e7919a, purple);
    --background-img: url("images/flowers.jpg");
}

body {
    background-image: var(--background-img);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.cat-animation {
    position: relative;
    top: 0px;
    float: right;
    /* width: 90px; */
    width: 10%;
    height: auto;
}

.jumbotron {
    background: var(--jumbotron-color);
    border: 3px solid var(--jumbotron-border);
    border-top: 0px;
    font-family: 'Chilanka', cursive;
    font-weight: bold;
}

#jumbotronText {
    text-align: center;
}

/* will change to match image id given via jQuery */
#imgTest {
    width: 100%;
    height: auto;
}

#btns{
    padding: 20px;
    background: var(--insult-box-color);
    margin-bottom: 20px;
    text-align: center;
}

#insultContainer{
    display: inline-block;
    text-align: center;
    font-family: 'Chilanka', cursive;
    font-size: 1.5em;
}

#btns .fa-play-circle{
    color: green;
    font-size: 30px;
    position: relative;
}

.generate {
    margin-right: 15px;
}


